USE [UniPlan]
GO
/****** Object:  Table [dbo].[CoursePrerequisites]    Script Date: 7/17/2026 1:31:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursePrerequisites](
	[PrerequisiteID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[PrerequisiteCourseID] [int] NOT NULL,
 CONSTRAINT [PK_CoursePrerequisites] PRIMARY KEY CLUSTERED 
(
	[PrerequisiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 7/17/2026 1:31:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[CreditHours] [int] NOT NULL,
	[CourseCode] [nvarchar](8) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CoursePrerequisites] ON 

INSERT [dbo].[CoursePrerequisites] ([PrerequisiteID], [CourseID], [PrerequisiteCourseID]) VALUES (4, 4, 1)
INSERT [dbo].[CoursePrerequisites] ([PrerequisiteID], [CourseID], [PrerequisiteCourseID]) VALUES (27, 15, 12)
INSERT [dbo].[CoursePrerequisites] ([PrerequisiteID], [CourseID], [PrerequisiteCourseID]) VALUES (28, 19, 15)
SET IDENTITY_INSERT [dbo].[CoursePrerequisites] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [CreditHours], [CourseCode]) VALUES (1, N'اللغة الإنكليزية (1)', 3, N'RQU101')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CreditHours], [CourseCode]) VALUES (2, N'اللغة العربية (1)', 2, N'RQU102')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CreditHours], [CourseCode]) VALUES (3, N'مهارات الحاسوب', 3, N'RQU103')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
/****** Object:  Index [UQ_CoursePrerequisites_Course_Prerequisite]    Script Date: 7/17/2026 1:31:22 PM ******/
ALTER TABLE [dbo].[CoursePrerequisites] ADD  CONSTRAINT [UQ_CoursePrerequisites_Course_Prerequisite] UNIQUE NONCLUSTERED 
(
	[CourseID] ASC,
	[PrerequisiteCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH CHECK ADD  CONSTRAINT [FK_Prereq_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [FK_Prereq_Course]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH CHECK ADD  CONSTRAINT [FK_Prereq_ReqCourse] FOREIGN KEY([PrerequisiteCourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [FK_Prereq_ReqCourse]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH CHECK ADD  CONSTRAINT [CK_CoursePrerequisites_NotSameCourse] CHECK  (([CourseID]<>[PrerequisiteCourseID]))
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [CK_CoursePrerequisites_NotSameCourse]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CK_Courses_CourseName_NotEmpty] CHECK  ((nullif(ltrim(rtrim([CourseName])),N'') IS NOT NULL))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CK_Courses_CourseName_NotEmpty]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CK_Courses_CreditHours] CHECK  (([CreditHours]>(0)))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CK_Courses_CreditHours]
GO
